html {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Ubuntu, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #eee;
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    line-height: 48px;
}

#header {
    color: #fff;
    background-color: #1f77b4;
    margin: 0px;
    padding: 10px 20px;
    height: 64px;
}

#header h1 {
    padding: 0px;
    margin: 0px;
    float: left;
    line-height: 64px;
}

#header .brand {
    float: right;
    line-height: 64px;
    padding: 9px;
}

#header .brand img{
    height: 36px;
}

#sidePanel {
    width: 260px;
    height: 100%;
    padding: 20px;
    background-color: #dedede;
    color: rgb(95, 99, 104);
    height: auto;
    position:fixed!important;
    top: 84px;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow-x: hidden;
}

#sidePanel h2 {
    font-weight: normal;
    color: #333;
    font-size: 1.7em;
    margin-bottom: 30px;
}

#newGame {
    text-align: left;
    line-height: 2em;
}

#newGame div {
    margin: 0px;
    padding: 0px;
}

button {
    cursor: pointer;
    line-height: 48px;
    font-size: 1.1em;
    width: 100%;
    background-color: #1f77b4;
    border-radius: 2px;
    border: 0px;
    transition: all .2s linear;	
    box-shadow: 0px 0px 5px #888888;
    color: #fff;
    opacity: 0.9;
    margin: 10px 0px;
}

button:hover {
    color: #ffffff;
    opacity: 1;
    box-shadow: 0px 0px 5px #888888;
}


#newGame input, #newGame select {
    line-height: 48px;
    display: block;
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
    width: 240px;
}

#newGame label {
    font-weight: normal;
    display: block;
}

#alertBox {
    text-align: center;
    display: block;
}

#updateInProgress {
    display: none;
    position: absolute;
    bottom: 0px;
    line-height: 50px;
    background-color: #fafafa;
    padding: 0px;
}

#updateInProgress p {
    padding: 0px;
    margin: 0px 20px;
    float: left;
}

#gameBoard {
    padding-left: 300px;
    padding-top: 0px;
}

#sidePanel .alertMessage {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    background: #b92c28;
    opacity: 0.9;
}

/* Spinner ******************************/

.loader {
    margin: 10px auto;
    border: 5px solid rgba(0, 0, 0, 0.12);
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

.smallLoader {
    float: left;
    margin: 18px 10px;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* SVG styling *************************/

svg {}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.player rect {
    fill: none;
}

.currentPlayer text {
    fill: #fff;
}

.currentPlayer rect {
    fill: #1f77b4;
}

.disabledPlayer {
    text-decoration: line-through;
}